*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #FFC1E0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxopen,#boxmatch,#box{
  width: 300px;
  min-height: 400px;
  margin: 20px;
  border: 2px dashed #FF60AF;
}
.list{
  background: #FFFFFF;
  height: 30px;
  width: 30px;
  margin: 30px;
  font-size: 100px;
  display: flex;
  align-items: center;
  cursor: grab;
}
h1{
  color: #FFFFFF;
  text-align: center;
}